.flex {
  display: flex;
}

.flex-column {
  direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap {
  gap: var(--space);
}

.grid {
  display: grid;
}

.grid-layout {
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 600px) {
  .grid-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .grid-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}

.border {
  border: 1px solid var(--light-gray);
}

.border-radius {
  border-radius: 4px;
}

.unbutton {
  cursor: pointer;
  color: var(--blue);
  font-weight: 400;
  outline: 0;
  background: none;
  border-width: 0;
  appearance: none;
  font-size: inherit;
  padding: 0;
}

.base-margin-vertical {
  margin: calc(var(--space) * 2) 0;
}
